node_modules
.next
out
build
dist

# env
.env
.env*.local

# sqlite db
prisma/*.db
prisma/*.db-journal

# uploads (user content, not source)
/uploads

# misc
.DS_Store
*.log
npm-debug.log*
.vercel
next-env.d.ts
*.tsbuildinfo
